* {
    box-sizing: border-box;
    font-family: cursive;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(124, 124, 124);
}

.box {

    margin: 100px auto;
    border: 2px soild black;
    background-color: rgb(245, 150, 221);
    border: 5px solid rgb(245, 150, 221);
    border-radius: 50%;

}

#heading {
    background-color: rgb(124, 124, 124);
    text-align: center;
    padding: 10px;
}

#colorquestion {
    background-color: rgb(124, 124, 124);
    padding: 20px;
    display: flex;

}

#guesscolor {
    flex: 1 1 50%;
    

}
#guesscolor h2{
    padding-bottom: 20px;
}

#colorfind {
    flex: 1 1 10%;
    width: 100px;
    height: 100px;
    padding-right: 20px;
}

#information {
    flex: 1 1 40%;
    padding-left: 10px;
    border: 2px solid pink;
    margin-left: 200px;
    color: white;
}

#result {
    background-color: rgb(124, 124, 124);
    height: 100px;
    width: 100%;
    padding-bottom: 100px;
    border-top: 2px solid red;
    text-align: center;
}
#repeat{
    margin: 0 auto;
    padding: 10px 20px;
    
}